<!DOCTYPE html>
<html>
<head>
    <title>Emotions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Relaxify</h1>
    <h2><a href="/">Chatbot</a></h2>
    <div id="emotions">
        {{MyEmotions}}
    </div>
    
</body>
</html>
