<!DOCTYPE html>
<html>
<head>
    <title>Relaxify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Relaxify</h1>
    <h2><a href="/emotions">Emotion analysis</a></h2>
    <div id="chat-container"></div>
    <form id="message-form" autocomplete="off">
        <input type="text" name="message" id="message-input" placeholder="Write your message here!">
    </form>
    <script>
        const chatContainer = document.getElementById('chat-container');
        const messageForm = document.getElementById('message-form');
        const messageInput = document.getElementById('message-input');

        messageForm.addEventListener('submit', e => {
            e.preventDefault();
            const message = messageInput.value;
            messageInput.value = '';
            const messageElement = document.createElement('div');
            messageElement.classList.add("user-message")
            messageElement.innerText = message;
            chatContainer.appendChild(messageElement);
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/chatbot');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = () => {
                const response = xhr.responseText;
                const responseElement = document.createElement('div');
                responseElement.classList.add("bot-message")
                responseElement.innerText = response;
                chatContainer.appendChild(responseElement);
            };
            xhr.send('message=' + encodeURIComponent(message));
        });
    </script>
</body>
</html>
